* text=auto

*.ts    text
*.tsx   text
*.js    text
*.mjs   text
*.json  text
*.css   text
*.md    text
*.svg   text

*.jpg  binary
*.jpeg binary
*.png  binary
*.ico  binary
*.webp binary
*.woff  binary
*.woff2 binary
